<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body th:align="center">
<h1>게시글 목록</h1>
<h3><span th:text="${session['member'].name}"></span>님 게시판 입장을 환영합니다.</h3>
<a th:href="@{/logout}">로그아웃</a>
<br>
<table th:align="center" border="1" th:width="700">
    <tr>
        <th bgcolor="orange" width="100">번호</th>
        <th bgcolor="orange" width="200">제목</th>
        <th bgcolor="orange" width="150">작성자</th>
        <th bgcolor="orange" width="150">등록일</th>
        <th bgcolor="orange" width="100">조회수</th>
    </tr>
    <tr th:if="${#lists.size(boardList)} > 0" th:each="board, state: ${boardList}">
        <td th:text="${state.count}"></td>
        <td><a th:href="@{/getBoard(seq=${board.seq})}" th:text="${board.title}" /></td>
        <td th:text="${board.writer}"></td>
        <td th:text="${#dates.format(board.createDate,'yyyy-MM-dd')}"></td>
        <td th:text="${board.cnt}"></td>
    </tr>
    <tr th:unless="${#lists.size(boardList)} > 0">
        <td colspan="5">조회된 글이 없습니다.</td>
    </tr>
</table>
<br>
<a th:href="@{/insertBoard}">새 글 등록</a>
</body>
</html>